:root {
  --orange-color: #ff8f00;
  --orange-dark-color: #ff6f00;
  --white-color: #fff;
  --black-color: #000;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.top {
  width: 60%;
  text-align: center;
  border: 3px solid var(--orange-color);
  border-radius: 10px;
}
.top p {
  font-size: 1.5em;
  white-space: pre-line;
}
.middle {
  text-align: center;
  margin: 40px 0;
}
.material-icons-outlined {
  font-size: 10em;
  color: var(--orange-color);
}
.bottom {
  display: flex;
  justify-content: center;
}
.bottom input {
  border: 1px solid var(--orange-color);
}
.btn {
  color: var(--white-color);
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
